<.header>
  Transaction <%= @transaction.id %>
  <:subtitle>This is a transaction record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/transactions/#{@transaction}/edit"}>
      <.button>Edit transaction</.button>
    </.link>
  </:actions>
</.header>

<.list></.list>

<.back navigate={~p"/transactions"}>Back to transactions</.back>
