<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>

  <.input
    type="text"
    label="Transaction Type"
    field={f[:transaction_type]}
    placeholder="debit/credit"
  />
  <.input type="text" label="Amount" field={f[:amount]} />
  <.input type="date" label="Date" field={f[:date]} />

  <:actions>
    <.button>Save Transaction</.button>
  </:actions>
</.simple_form>
