<.header>
  New Account type
  <:subtitle>Use this form to manage account_type records in your database.</:subtitle>
</.header>

<.account_type_form changeset={@changeset} action={~p"/account_types"} />

<.back navigate={~p"/account_types"}>Back to account_types</.back>
