<.header>
  Edit Account <%= @account.id %>
  <:subtitle>Use this form to manage account records in your database.</:subtitle>
</.header>

<.account_form changeset={@changeset} action={~p"/accounts/#{@account}"} />

<.back navigate={~p"/accounts"}>Back to accounts</.back>
