<.header>
  New Account
  <:subtitle>Use this form to manage account records in your database.</:subtitle>
</.header>

<.account_form
  changeset={@changeset}
  account_types={@account_types}
  users={@users}
  action={~p"/accounts"}
/>

<.back navigate={~p"/accounts"}>Back to accounts</.back>
