<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>

  <.input type="text" label="Name" field={f[:name]} />
  <.input type="text" label="Code" field={f[:code]} />

  <:actions>
    <.button>Save Currency</.button>
  </:actions>
</.simple_form>
