<.header>
  New Ledger entry
  <:subtitle>Use this form to manage ledger_entry records in your database.</:subtitle>
</.header>

<.ledger_entry_form changeset={@changeset} action={~p"/ledger_entries"} />

<.back navigate={~p"/ledger_entries"}>Back to ledger_entries</.back>
