<.header>
  Ledger entry <%= @ledger_entry.id %>
  <:subtitle>This is a ledger_entry record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/ledger_entries/#{@ledger_entry}/edit"}>
      <.button>Edit ledger_entry</.button>
    </.link>
  </:actions>
</.header>

<.list></.list>

<.back navigate={~p"/ledger_entries"}>Back to ledger_entries</.back>
